.menu--primary__wrap {
		border-bottom: 1px solid $primary-color;
		background-color: #FFF;
		.is-dropdown-submenu {
				background: lighten($primary-color, 30%);
		}
}

.sidebar--item .menu.nested.menu__wrap--level-2 {
		display: none;
}

.footer .menu.nested.menu__wrap--level-2 {
		display: none;
}