.fp--topheader {
		background: #B24592;
		background: linear-gradient(to right, #F15F79, rgba(178, 69, 145, 0.808));
		.copy--title {
				color: #FFF;
				font-size: 2rem;
		}
		.copy--desc {
				color: #FFF;
				margin: 1em 0;
		}
		.button.hollow {
				border-color: $primary-color;
				color: $primary-color;
		}
}

.pageheader.-front {
		margin-top: 0;
		padding-top: 0;
		.service--item {
				padding-top: 50px;
		}
}