.contents--section {
    padding-bottom: 3rem;
}

.contents--section_button {
    svg {
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        margin-top: -6px;
        margin-right: .5em;
    }
}

.contents {
    margin: 40px 0 20px;
}

.contents--title,
.contents h2 {
    padding: 10px;
    margin: 40px 0 20px;
    border-bottom: 1px solid $light-gray;
    background-color: #F2F2F2;
    font-size: 1.5rem;
    span {
        margin-left: 1em;
        font-size: .5em;
        display: inline-block;
        vertical-align: middle;
        margin-top: -4px;
    }
}

.contents--box {
    position: relative;
    margin: 5px auto;
    padding: 1.5rem;
    background-color: #FFF;
    border: 1px solid $light-gray;
    box-shadow: 1px 1px 1px 0 $light-gray;
}

.contents--box_alert {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
}

.contents--box_desc {
    dl {
        @include clearfix;
    }
    dt {
        float: left;
        margin-right: 1rem;
    }
}

.contents--box_button {
    text-align: right;
    margin-top: 2rem;
    margin-bottom: 0;
    .button {
        margin-bottom: 0;
    }
}