.nav--sp_main {
    @include breakpoint(medium down) {
        width: 50%;
        max-width: none;
        left: -50%;
        position: fixed;
        top: 0;
        bottom: 0;
        height: 100%;
        padding: 0;
        background-color: #FFF;
        overflow-y: auto;
        transition: transform .4s cubic-bezier(.4, 0, .2, 1);
        z-index: 1000;
        .has-nav-open & {
            transform: translateX(50%);
        }
    }
    @include breakpoint(small only) {
        width: 100%;
        left: -100%;
        .has-nav-open & {
            transform: translateX(100%);
        }
    }
}